body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

button {
    background: orange;
    border: none;
    padding: 10px;
    cursor: pointer;
}